<script setup lang="ts">
import {
  NLayout,
  darkTheme,
  NConfigProvider,
  NLayoutHeader,
  NLayoutContent,
  NLayoutFooter,
  NIcon,
  NGlobalStyle,
  NMessageProvider,
  NDialogProvider,
  NLoadingBarProvider,
} from 'naive-ui';
import { Heart as LoveIcon } from '@vicons/tabler';
import { ref } from 'vue';
import AppNavbar from './components/AppNavbar.vue';
import useAuthStore from './stores';

const auth = useAuthStore();
auth.loadFromStorage();

const theme = ref('dark');
</script>

<template>
  <NConfigProvider :theme="theme === 'light' ? null : darkTheme">
    <NMessageProvider>
      <NDialogProvider>
        <NLoadingBarProvider>
          <NLayout>
            <NLayoutHeader bordered>
              <AppNavbar @update:theme="theme = $event" />
            </NLayoutHeader>
            <br><br><br>
            <NLayoutContent content-style="padding: 2em;">
              <div class="container">
                <router-view />
              </div>
            </NLayoutContent>
            <NLayoutFooter bordered>
              <div
                class="container"
                style="text-align: center"
              >
                <p>
                  Created with <NIcon color="red">
                    <LoveIcon />
                  </NIcon> by
                  <a
                    href="https://siphomateke.com"
                    style="font-weight: bold; text-decoration: none"
                  >Sipho Mateke (2021)</a>
                </p>
              </div>
            </NLayoutFooter>
          </NLayout>
        </NLoadingBarProvider>
      </NDialogProvider>
    </NMessageProvider>
    <NGlobalStyle />
  </NConfigProvider>
</template>

<style>
.n-layout-header {
  padding: 1em;
  position: fixed;
  top: 0;
  z-index: 999;
}

.n-layout-footer {
  padding: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
</style>
