<script setup lang="ts">
import { useRouter } from 'vue-router';
import { NPageHeader, useMessage } from 'naive-ui';
import { useMutation } from '@vue/apollo-composable';
import { storeToRefs } from 'pinia';
import { getPostUrl } from '../utils';
import useAuthStore from '../stores';
import UserPostForm, { FormValues } from '../components/UserPostForm.vue';
import { useRequireAuth } from '../mixins';
import { CREATE_POST } from '../gql/mutations';

useRequireAuth();

const router = useRouter();
const message = useMessage();
const auth = useAuthStore();
const { userId } = storeToRefs(auth);

function handleBack() {
  router.back();
}

const {
  mutate: createPost,
  loading: createLoading,
  onDone: onCreatePost,
  onError: onErrorCreatePost,
} = useMutation(CREATE_POST);
onCreatePost((param) => {
  message.success('Successfully created post');
  if (param.data && userId.value) {
    const postId = param.data.create_posts_item.id;
    router.push(getPostUrl(userId.value, postId));
  }
});
onErrorCreatePost(() => {
  message.error('Failed to create post');
});
function onSubmit(data: FormValues) {
  createPost({
    date_created: new Date().toISOString(),
    ...data,
  });
}

function onCancel() {
  router.back();
}
</script>

<template>
  <div>
    <NPageHeader
      title="Create post"
      @back="handleBack"
    />
    <br>
    <UserPostForm
      :submitting="createLoading"
      :is-new="true"
      @submit="onSubmit"
      @cancel="onCancel"
    />
  </div>
</template>
