<script setup lang="ts">
import { useRoute, useRouter } from 'vue-router';
import { NAlert, NPageHeader, useMessage } from 'naive-ui';
import { useMutation, useQuery, useResult } from '@vue/apollo-composable';
import { ref } from 'vue';
import UserPostForm, { FormValues } from '../components/UserPostForm.vue';
import { getPostUrl } from '../utils';
import BaseSpinner from '../components/BaseSpinner.vue';
import {
  useLoadingBarQueryLink,
  useRequireAuth,
  useRequireOwnership,
} from '../mixins';
import { UPDATE_POST } from '../gql/mutations';
import { GET_POST_TO_EDIT } from '../gql/queries';

useRequireAuth();

const router = useRouter();
const message = useMessage();

const { result, loading, error } = useLoadingBarQueryLink(
  useQuery(
    GET_POST_TO_EDIT,
    { id: useRoute().params.postId },
  ),
);
const post = useResult<PostEditingData>(result);

const postUserId = ref(post.value?.user_created.id);
useRequireOwnership(postUserId);

function handleBack() {
  router.back();
}

const {
  mutate: updatePost,
  loading: submitLoading,
  onDone: onUpdatePost,
  onError: onErrorUpdatePost,
} = useMutation(UPDATE_POST);
onUpdatePost(() => {
  message.success('Successfully updated post');
  if (post.value) {
    router.push(getPostUrl(post.value.user_created.id, post.value.id));
  }
});
onErrorUpdatePost(() => {
  message.error('Failed to update post');
});
function onSubmit(data: FormValues) {
  updatePost({
    id: post.value?.id,
    date_created: new Date().toISOString(),
    ...data,
  });
}

function onCancel() {
  router.back();
}
</script>

<script lang="ts">
export interface PostEditingData {
  id: string;
  title: string;
  summary: string;
  content: string;
  tags: string[];
  date_created: string;
  user_created: {
    id: string;
  };
  status: string;
}
</script>

<template>
  <div>
    <BaseSpinner v-if="loading" />
    <NAlert
      v-else-if="error"
      title="Error Fetching Post"
      type="error"
    >
      {{
        error.message
      }}
    </NAlert>
    <template v-else-if="post">
      <NPageHeader
        title="Edit post"
        @back="handleBack"
      />
      <br>
      <UserPostForm
        :post="post"
        :submitting="submitLoading"
        @submit="onSubmit"
        @cancel="onCancel"
      />
    </template>
  </div>
</template>
