<script setup lang="ts">
import { useMutation } from '@vue/apollo-composable';
import {
  NCard,
  NButton,
  NForm,
  NFormItem,
  NInput,
  NAlert,
  useMessage,
  FormRules,
  NSpace,
} from 'naive-ui';
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { LoginResponse, LOGIN_USER } from '../gql/mutations';
import useAuthStore from '../stores';

const message = useMessage();
const router = useRouter();

const formRef = ref<{ validate:(errors: unknown) => void } | null>(null);
const formValue = ref({
  email: '',
  password: '',
});
const formRules: FormRules = {
  email: {
    required: true,
    trigger: 'blur',
    message: 'Email is required',
  },
  password: {
    required: true,
    trigger: 'blur',
    message: 'Password is required',
  },
};

const {
  mutate: login,
  loading,
  error,
  onDone,
} = useMutation<{ auth_login: LoginResponse }>(LOGIN_USER, {
  clientId: 'system',
});

function handleValidateClick(e: Event) {
  e.preventDefault();
  formRef.value?.validate((errors: unknown) => {
    if (!errors) {
      login(formValue.value);
    } else {
      message.error('Invalid login data');
    }
  });
}

onDone(({ data }) => {
  if (data) {
    message.success('Successfully logged in');
    useAuthStore().onFinishLogin(data.auth_login);
    router.push('/profile');
  } else {
    message.success('Unknown error logging in');
  }
});
</script>

<template>
  <NCard style="max-width: 400px; margin: 0 auto">
    <h1>Login</h1>
    <NForm
      ref="formRef"
      :model="formValue"
      :rules="formRules"
      @submit="handleValidateClick"
    >
      <NFormItem
        label="Email"
        path="email"
      >
        <NInput
          v-model:value="formValue.email"
          placeholder=""
        />
      </NFormItem>
      <NFormItem
        label="Password"
        path="password"
      >
        <NInput
          v-model:value="formValue.password"
          placeholder=""
          type="password"
        />
      </NFormItem>
      <NFormItem>
        <NSpace>
          <NButton
            :loading="loading"
            attr-type="submit"
          >
            Login
          </NButton>
        </NSpace>
      </NFormItem>
      <NAlert
        v-if="error"
        title="Login error"
        type="error"
      >
        {{
          error.message
        }}
      </NAlert>
    </NForm>
  </NCard>
</template>
