<script setup lang="ts">
import { useRoute, useRouter } from 'vue-router';
import { NAlert, NPageHeader } from 'naive-ui';
import { useQuery, useResult } from '@vue/apollo-composable';
import { computed } from 'vue';
import { Post, FullPost, GET_FULL_POST } from '../gql/queries';
import UserPost from '../components/UserPost.vue';
import usePostsStore from '../stores/posts';
import { useLoadingBarQueryLink } from '../mixins';

const router = useRouter();
const route = useRoute();
const postsStore = usePostsStore();

const defaultPost = computed(() => {
  // Check for any cached data about the post so we can show something while we fetch the full data
  if (typeof route.params.postId === 'string') {
    const existingPostData = postsStore.postById(route.params.postId);
    return existingPostData;
  }
  return undefined;
});

const { result, loading, error } = useLoadingBarQueryLink(
  useQuery(GET_FULL_POST, () => ({
    id: route.params.postId,
  })),
);
const post = useResult<FullPost, Post | undefined>(result, defaultPost.value);

function handleBack() {
  router.push('/');
}
</script>

<template>
  <div>
    <NAlert
      v-if="!loading && error"
      title="Error Fetching Post"
      type="error"
    >
      {{
        error.message
      }}
    </NAlert>
    <NPageHeader @back="handleBack" />
    <br>
    <UserPost
      :loading="loading"
      :post="post"
    />
  </div>
</template>
