<script setup lang="ts">
import { NAlert } from 'naive-ui';
import { useQuery, useResult } from '@vue/apollo-composable';
import { useRoute, useRouter } from 'vue-router';
import { computed, watch } from 'vue';
import { storeToRefs } from 'pinia';
import { UserProfileResponse, USER_PROFILE } from '../gql/system/queries';
import useAuthStore from '../stores';
import BaseSpinner from '../components/BaseSpinner.vue';
import UserProfile from '../components/UserProfile.vue';
import { useLoadingBarQueryLink } from '../mixins';

const route = useRoute();
const router = useRouter();
const { userId: loggedInUserId, isLoggedIn: isLoggedInRef } = storeToRefs(useAuthStore());

// Get user ID from logged in user or url param
const userId = computed(() => {
  if (typeof route.params.userId === 'string') {
    return route.params.userId;
  }
  return loggedInUserId.value;
});

const isLoggedInUser = computed(
  () => !!userId.value && userId.value === loggedInUserId.value,
);

// Require a logged in user if viewing /profile page
watch(
  () => ({ routeName: route.name, isLoggedIn: isLoggedInRef.value }),
  ({ routeName, isLoggedIn }) => {
    if (routeName === 'profile' && !isLoggedIn) {
      router.push('/login');
    }
  },
  {
    immediate: true,
  },
);

const { result, loading, error } = useLoadingBarQueryLink(
  useQuery(
    USER_PROFILE,
    () => ({
      id: userId.value,
    }),
    { clientId: 'system' },
  ),
);
const user = useResult<UserProfileResponse>(result);
</script>

<template>
  <BaseSpinner v-if="loading" />
  <NAlert
    v-else-if="error"
    title="Error Fetching Posts"
    type="error"
  >
    {{
      error.message
    }}
  </NAlert>
  <UserProfile
    v-else-if="user"
    :user="user"
    :is-logged-in-user="isLoggedInUser"
  />
</template>
