<script setup lang="ts">
import {
  NAlert, NSpin, NPageHeader, NEmpty,
} from 'naive-ui';
import { useQuery, useResult } from '@vue/apollo-composable';
import { useRoute, useRouter } from 'vue-router';
import { watch } from 'vue';
import { ListSearch as EmptyIcon } from '@vicons/tabler';
import UserPostCard from '../components/UserPostCard.vue';
import { getPostUrl } from '../utils';
import usePostsStore from '../stores/posts';
import { Post, SEARCH_POSTS_BASIC } from '../gql/queries';
import { useLoadingBarQueryLink } from '../mixins';

const router = useRouter();
const route = useRoute();

const { result, loading, error } = useLoadingBarQueryLink(
  useQuery(SEARCH_POSTS_BASIC, () => ({
    filter: typeof route.query.tag === 'string'
      ? { tags: { _contains: route.query.tag } }
      : undefined,
    search: route.query.q,
  })),
);
const posts = useResult<Post[]>(result);

const postsStore = usePostsStore();
watch(
  () => posts.value,
  (value) => {
    // Cache post data
    value?.forEach((post) => {
      postsStore.updatePost(post.id, post);
    });
  },
  { immediate: true },
);

function handleBack() {
  router.push('/');
}
</script>

<template>
  <NPageHeader
    title="Search results"
    @back="handleBack"
  />
  <br>
  <NAlert
    v-if="!loading && error"
    title="Error Fetching Posts"
    type="error"
  >
    {{
      error.message
    }}
  </NAlert>
  <NSpin
    v-if="loading"
    size="small"
    style="width: 100%; min-height: 10em"
  >
    <UserPostCard loading />
    <template #description>
      Loading posts...
    </template>
  </NSpin>
  <UserPostCard
    v-for="post in posts"
    v-else-if="posts"
    :key="post.id"
    :post="post"
    :url="getPostUrl(post.user_created.id, post.id)"
    style="margin-bottom: 1em"
  />
  <NEmpty
    v-if="!loading && posts?.length === 0"
    description="No posts matching your search could be found"
  >
    <template #icon>
      <NIcon>
        <EmptyIcon />
      </NIcon>
    </template>
  </NEmpty>
</template>
