<script setup lang="ts">
import {
  h, Component, computed, ref, watch,
} from 'vue';
import {
  MenuOption, NIcon, NInput, NMenu, NSpace, NButton,
} from 'naive-ui';
import {
  Home as HomeIcon,
  User as UserIcon,
  SquarePlus as NewPostIcon,
  Moon as DarkModeIcon,
  Sun as LightModeIcon,
} from '@vicons/tabler';
import {
  RouteLocationRaw, RouterLink, useRoute, useRouter,
} from 'vue-router';
import { storeToRefs } from 'pinia';
import useAuthStore from '../stores';

const route = useRoute();
const router = useRouter();
const auth = useAuthStore();
const { isLoggedIn } = storeToRefs(auth);

const emit = defineEmits(['update:theme']);

function renderIcon(icon: Component) {
  return () => h(NIcon, null, { default: () => h(icon) });
}

function renderLink(label: string, to: RouteLocationRaw) {
  return () => h(RouterLink, { to }, { default: () => label });
}

const menuOptions = computed(() => {
  const arr: MenuOption[] = [
    {
      label: renderLink('Home', '/'),
      key: 'home',
      icon: renderIcon(HomeIcon),
    },
  ];

  if (isLoggedIn.value) {
    arr.push({
      label: renderLink('Profile', '/profile'),
      key: 'profile',
      icon: renderIcon(UserIcon),
    });
  }

  return arr;
});

const selectedMenuItem = ref(route.name?.toString());
watch(
  () => route.name,
  (name) => {
    selectedMenuItem.value = name?.toString();
  },
);

function clickNav(e: Event, location: RouteLocationRaw) {
  e.preventDefault();
  router.push(location);
}

function createPost() {
  router.push(`/users/${auth.userId}/posts/create`);
}

const isOnCreatePage = computed(() => route.name === 'create-post');

function clickLogout() {
  auth.logout();
}

const theme = ref('dark');
function toggleTheme() {
  if (theme.value === 'light') {
    theme.value = 'dark';
  } else {
    theme.value = 'light';
  }
  emit('update:theme', theme.value);
}

function createDebounce() {
  let timeout: number | null = null;
  return function debouncer(fnc: () => unknown, delayMs?: number) {
    if (timeout !== null) {
      clearTimeout(timeout);
    }
    timeout = window.setTimeout(() => {
      fnc();
    }, typeof delayMs === 'number' ? delayMs : 500);
  };
}

const searchDebounce = createDebounce();

function startSearch(query: string) {
  // Debounce search query changes so that we don't send too many requests as user is typing
  searchDebounce(() => {
    // Only process queries longer than 3 characters to prevent wasteful queries
    if (query.length > 3) {
      router.push({ name: 'search', query: { q: query } });
    } else {
      router.push('/');
    }
  }, 500);
}
</script>

<template>
  <div
    class="container"
    style="display: flex; align-items: center"
  >
    <NMenu
      v-model:value="selectedMenuItem"
      mode="horizontal"
      :options="menuOptions"
    />
    <NInput
      placeholder="Search..."
      autosize
      style="min-width: 15em"
      @input="startSearch"
    />
    <div style="margin-left: auto">
      <NSpace>
        <NButton @click="toggleTheme">
          <template #icon>
            <NIcon>
              <LightModeIcon v-if="theme === 'dark'" />
              <DarkModeIcon v-else />
            </NIcon>
          </template>
          {{ theme === "dark" ? "Light" : "Dark" }}
        </NButton>
        <NSpace v-if="!isLoggedIn">
          <NButton
            type="primary"
            tag="a"
            href="/login"
            @click="(e) => clickNav(e, '/login')"
          >
            Login
          </NButton>
        </NSpace>
        <NSpace v-else>
          <NButton
            type="primary"
            :disabled="isOnCreatePage"
            @click="createPost"
          >
            <template #icon>
              <NIcon>
                <NewPostIcon />
              </NIcon>
            </template>
            Create post
          </NButton>
          <NButton @click="clickLogout">
            Logout
          </NButton>
        </NSpace>
      </NSpace>
    </div>
  </div>
</template>
