<script setup lang="ts">
import {
  NAlert, NSpin, NIcon, NEmpty,
} from 'naive-ui';
import { useQuery, useResult } from '@vue/apollo-composable';
import { storeToRefs } from 'pinia';
import { toRefs, watch } from 'vue';
import { ListSearch as EmptyIcon } from '@vicons/tabler';
import UserPostCard from './UserPostCard.vue';
import { getPostUrl } from '../utils';
import useAuthStore from '../stores';
import { GET_POSTS_BASIC } from '../gql/queries';
import type { Post } from '../gql/queries';
import usePostsStore from '../stores/posts';
import { useLoadingBarQueryLink } from '../mixins';

const props = defineProps<{ userId?: string }>();
const { userId } = toRefs(props);

const { isLoggedIn } = storeToRefs(useAuthStore());

const { result, loading, error } = useLoadingBarQueryLink(
  useQuery(
    GET_POSTS_BASIC,
    () => {
      // If not logged in, don't show unpublished posts
      const filter: { status?: unknown; user_created?: unknown } = {};
      if (!isLoggedIn.value) {
        filter.status = { _eq: 'published' };
      }
      if (userId?.value) {
        filter.user_created = {
          id: { _eq: userId.value },
        };
      }
      return { filter };
    },
    {
      pollInterval: 500,
    },
  ),
);
const posts = useResult<Post[]>(result);

const postsStore = usePostsStore();
watch(
  () => posts.value,
  (value) => {
    // Cache post data
    value?.forEach((post) => {
      postsStore.updatePost(post.id, post);
    });
  },
  { immediate: true },
);
</script>

<template>
  <NAlert
    v-if="!loading && error"
    title="Error Fetching Posts"
    type="error"
    style="margin-bottom: 1em"
  >
    {{ error.message }}
  </NAlert>
  <NSpin
    v-if="loading"
    size="small"
    style="width: 100%; min-height: 10em"
  >
    <UserPostCard loading />
    <template #description>
      Loading posts...
    </template>
  </NSpin>
  <UserPostCard
    v-for="post in posts"
    v-else-if="posts"
    :key="post.id"
    :post="post"
    :url="getPostUrl(post.user_created.id, post.id)"
    style="margin-bottom: 1em"
  />
  <NEmpty
    v-if="!loading && posts?.length === 0"
    description="No posts found"
  >
    <template #icon>
      <NIcon>
        <EmptyIcon />
      </NIcon>
    </template>
  </NEmpty>
</template>
