<script setup lang="ts">
import { NCard, NTag, NDivider } from 'naive-ui';
import { PropType, computed, toRefs } from 'vue';
import type { UserProfileResponse } from '../gql/system/queries';
import PostsList from './PostsList.vue';

const props = defineProps({
  user: {
    required: true,
    type: Object as PropType<UserProfileResponse>,
  },
  isLoggedInUser: Boolean,
});
const { user } = toRefs(props);

const title = computed(() => {
  let str = `${user.value.first_name} ${user.value.last_name}`;
  if (user.value.title) {
    str += ` - ${user.value.title}`;
  }
  return str;
});
</script>

<template>
  <NCard :title="title">
    <NTag
      v-if="isLoggedInUser"
      type="primary"
      round
    >
      You
    </NTag>
    <p>
      <a :href="`mailto:${user.email}`">{{ user.email }}</a>
    </p>
  </NCard>
  <NDivider />
  <h2>Posts</h2>
  <PostsList :user-id="user.id" />
</template>
