<script setup lang="ts">
import { NTag } from 'naive-ui';
import { PropType, computed, toRefs } from 'vue';

const props = defineProps({
  status: {
    required: true,
    type: String as PropType<'published' | 'draft' | 'archived'>,
  },
});
const { status } = toRefs(props);

const type = computed(() => <'primary' | 'error' | 'warning' | undefined>{
  published: 'primary',
  draft: 'error',
  archived: 'warning',
}[status.value]);

const label = computed(() => ({
  published: 'Published',
  draft: 'Draft',
  archived: 'Archived',
}[status.value]));
</script>

<template>
  <NTag :type="type">
    {{ label }}
  </NTag>
</template>
