<script setup lang="ts">
import {
  FormRules,
  NForm,
  NFormItem,
  NInput,
  NSelect,
  NDynamicTags,
  useMessage,
  NSpace,
  NButton,
  NIcon,
} from 'naive-ui';
import {
  PropType, ref, Ref, toRefs,
} from 'vue';
import { DeviceFloppy as SaveIcon, Ban as CancelIcon } from '@vicons/tabler';
import type { PostEditingData } from '../views/EditPost.vue';

const message = useMessage();

const props = defineProps({
  post: {
    required: false,
    type: Object as PropType<PostEditingData>,
    default: () => ({}),
  },
  submitting: Boolean,
  isNew: Boolean,
});
const { post } = toRefs(props);

const emit = defineEmits(['submit', 'cancel']);

const formRef = ref<{ validate:(errors: unknown) => void } | null>(null);
const formValue: Ref<FormValues> = ref({
  title: post.value.title,
  summary: post.value.summary,
  content: post.value.content,
  status: post.value.status || 'draft',
  tags: post.value.tags || [],
});
const formRules: FormRules = {
  title: {
    required: true,
    trigger: 'blur',
    message: 'A title is required',
  },
  status: {
    required: true,
  },
};

function handleValidateClick(e: Event) {
  e.preventDefault();
  formRef.value?.validate((errors: unknown) => {
    if (!errors) {
      emit('submit', formValue.value);
    } else {
      message.error('Invalid login data');
    }
  });
}

const postStatusOptions = [
  {
    label: 'Published',
    value: 'published',
  },
  {
    label: 'Draft',
    value: 'draft',
  },
  {
    label: 'Archived',
    value: 'archived',
  },
];
</script>

<script lang="ts">
export interface FormValues {
  title: string;
  summary: string;
  content: string;
  status: string;
  tags: string[];
}
</script>

<template>
  <NForm
    ref="formRef"
    :model="formValue"
    :rules="formRules"
    @submit="handleValidateClick"
  >
    <NFormItem
      label="Title"
      path="title"
    >
      <NInput v-model:value="formValue.title" />
    </NFormItem>
    <NFormItem
      label="Summary"
      path="summary"
    >
      <NInput
        v-model:value="formValue.summary"
        type="textarea"
      />
    </NFormItem>
    <NFormItem
      label="Content"
      path="content"
    >
      <NInput
        v-model:value="formValue.content"
        type="textarea"
        :autosize="{
          minRows: 5,
          maxRows: 10,
        }"
      />
    </NFormItem>
    <NFormItem
      label="Status"
      path="status"
    >
      <NSelect
        v-model:value="formValue.status"
        :options="postStatusOptions"
      />
    </NFormItem>
    <NFormItem
      label="Tags"
      path="tags"
    >
      <NDynamicTags
        v-model:value="formValue.tags"
        round
        type="info"
      />
    </NFormItem>
    <NFormItem>
      <NSpace>
        <NButton
          attr-type="submit"
          type="primary"
          :loading="submitting"
        >
          <template #icon>
            <NIcon><SaveIcon /></NIcon>
          </template>
          Save changes
        </NButton>
        <NButton
          type="warning"
          @click="emit('cancel')"
        >
          <template #icon>
            <NIcon><CancelIcon /></NIcon>
          </template>
          Cancel
        </NButton>
      </NSpace>
    </NFormItem>
  </NForm>
</template>
