<script setup lang="ts">
import {
  NCard,
  NButton,
  NIcon,
  NSpace,
  NDivider,
  useMessage,
  NEmpty,
  useDialog,
  NSkeleton,
} from 'naive-ui';
import { PropType, toRefs, computed } from 'vue';
import { useMutation } from '@vue/apollo-composable';
import { useRoute, useRouter } from 'vue-router';
import { FileText as EmptyIcon, Edit as EditIcon, Trash as DeleteIcon } from '@vicons/tabler';
import { storeToRefs } from 'pinia';
import sanitizeHtml from 'sanitize-html';
import useAuthStore from '../stores';
import { DELETE_POST } from '../gql/mutations';
import UserPostCardFooter from './UserPostCardFooter.vue';
import UserPostStatus from './UserPostStatus.vue';
import { FullPost, Post } from '../gql/queries';
import { usePostBelongsToMe } from '../mixins';

const router = useRouter();
const message = useMessage();
const auth = useAuthStore();
const { isLoggedIn } = storeToRefs(auth);

const props = defineProps({
  loading: {
    type: Boolean,
    default: false,
  },
  post: {
    required: false,
    type: Object as PropType<FullPost | Post | null>,
    default: () => null,
  },
});
const { post, loading } = toRefs(props);

const {
  mutate: deletePost,
  loading: deleteLoading,
  onDone: onDelete,
  onError: onDeleteError,
} = useMutation(DELETE_POST);

onDelete(() => {
  message.success(`Successfully deleted post "${post.value?.title}"`);
  router.push('/');
});

onDeleteError(() => {
  message.error('Failed to delete post');
});

const dialog = useDialog();
function onClickDelete() {
  dialog.warning({
    title: 'Confirm delete',
    content: 'Are you sure you want to delete this post?',
    positiveText: 'Yes',
    negativeText: 'No',
    onPositiveClick: () => {
      deletePost({ id: post.value?.id });
    },
  });
}

const editUrl = `${useRoute().path}/edit`;
function editPost(e: Event) {
  e.preventDefault();
  router.push(editUrl);
}

const postBelongsToMe = usePostBelongsToMe(post);

function postHasContent(p: Post | FullPost | null): p is FullPost {
  return !!p && ('content' in p) && !!p.content;
}

const sanitizedPost = computed(() => (postHasContent(post.value) ? sanitizeHtml(post.value.content, { allowedTags: sanitizeHtml.defaults.allowedTags.concat(['img']) }) : null));
</script>

<template>
  <NCard>
    <UserPostStatus
      v-if="post?.status && isLoggedIn && postBelongsToMe"
      :status="post.status"
    />
    <NSkeleton
      v-else-if="loading"
      text
      size="medium"
      width="6em"
    />
    <h1 class="n-card-header__main">
      <template v-if="post">
        {{ post.title }}
      </template>
      <NSkeleton
        v-else-if="loading"
        text
      />
    </h1>
    <UserPostCardFooter
      :post="post"
      loading
    />
    <NSpace v-if="isLoggedIn && postBelongsToMe">
      <NSkeleton
        v-if="loading"
        :sharp="false"
        size="medium"
        width="5em"
      />
      <NButton
        v-else
        type="primary"
        tag="a"
        :href="editUrl"
        @click="editPost"
      >
        <template #icon>
          <NIcon><EditIcon /></NIcon>
        </template>
        Edit
      </NButton>
      <NSkeleton
        v-if="loading"
        :sharp="false"
        size="medium"
        width="7em"
      />
      <NButton
        v-else
        type="warning"
        :loading="deleteLoading"
        @click="onClickDelete"
      >
        <template #icon>
          <NIcon><DeleteIcon /></NIcon>
        </template>
        Delete
      </NButton>
    </NSpace>
    <NDivider
      v-if="
        loading ||
          (post && (post.summary || ('content' in post && post.content)))
      "
    />
    <div v-if="post && post.summary">
      <p>{{ post.summary }}</p>
    </div>
    <NSkeleton
      v-else-if="loading"
      text
      :repeat="3"
    />
    <!-- eslint-disable vue/no-v-html -->
    <div
      v-if="post && postHasContent"
      class="post-content"
      v-html="sanitizedPost"
    />
    <!-- eslint-enable vue/no-v-html -->
    <NSkeleton
      v-else-if="loading"
      text
      :repeat="12"
    />
    <div v-if="!loading && !(post && 'content' in post && post.content)">
      <NEmpty description="This post currently has no content">
        <template #icon>
          <NIcon>
            <EmptyIcon />
          </NIcon>
        </template>
        <template
          v-if="isLoggedIn && postBelongsToMe"
          #extra
        >
          <NButton
            size="small"
            tag="a"
            :href="editUrl"
            @click="editPost"
          >
            Start writing
          </NButton>
        </template>
      </NEmpty>
    </div>
  </NCard>
</template>

<style>
.post-content img {
  max-width: 100%;
  border-radius: 0.25em;
}
</style>
