<script setup lang="ts">
import { NSpace, NTag, NSkeleton } from 'naive-ui';
import { PropType, computed, toRefs } from 'vue';
import { useRouter } from 'vue-router';
import type { Post } from '../gql/queries';

const router = useRouter();

const props = defineProps({
  loading: {
    type: Boolean,
    default: false,
  },
  post: {
    type: Object as PropType<Pick<
    Post,
    'date_created' | 'user_created' | 'tags'
    > | null>,
    default: () => null,
  },
});
const { post, loading } = toRefs(props);

const date = computed(
  () => new Date(Date.parse(post.value?.date_created || '0')),
);
const dateString = computed(() => date.value.toLocaleDateString());
const datetime = computed(() => date.value.toISOString());

function searchByTag(tag: string) {
  router.push({ name: 'search', query: { tag } });
}
</script>

<template>
  <NSpace size="small">
    <template v-if="post">
      <NTag
        v-for="tag in post.tags"
        :key="tag"
        size="small"
        round
        type="info"
        style="cursor: pointer"
        @click="searchByTag(tag)"
      >
        {{ tag }}
      </NTag>
    </template>
    <template v-else-if="loading">
      <NSkeleton
        v-for="n in 3"
        :key="n"
        text
        round
        width="7em"
        height="1.5em"
      />
    </template>
  </NSpace>
  <footer>
    <p>
      <template
        v-if="post?.user_created || typeof post?.date_created !== 'undefined'"
      >
        Posted on
        <i>
          <time :datetime="datetime">{{ dateString }}</time>
        </i>
        by
        <router-link :to="`/users/${post.user_created.id}`">
          {{
            post.user_created.first_name + " " + post.user_created.last_name
          }}
        </router-link>
      </template>
      <NSkeleton
        v-else-if="loading"
        text
        width="40%"
      />
    </p>
  </footer>
</template>
