<script setup lang="ts">
import { NCard, NSkeleton } from 'naive-ui';
import { storeToRefs } from 'pinia';
import { PropType, toRefs } from 'vue';
import useAuthStore from '../stores';
import type { Post } from '../gql/queries';
import UserPostCardFooter from './UserPostCardFooter.vue';
import UserPostStatus from './UserPostStatus.vue';
import { usePostBelongsToMe } from '../mixins';

const { isLoggedIn } = storeToRefs(useAuthStore());

type PartialBy<T, K extends keyof T> = Omit<T, K> & Partial<Pick<T, K>>;

const props = defineProps({
  loading: {
    type: Boolean,
    default: false,
  },
  post: {
    type: Object as PropType<PartialBy<Post, 'status'>>,
    default: () => ({}),
  },
  url: {
    type: String,
    default: () => '',
  },
});
const { loading, post, url } = toRefs(props);

function openPost() {
  // Make sure post doesn't open halfway down the page, scroll to top instead
  window.scrollTo({ top: 0 });
}

const postBelongsToMe = usePostBelongsToMe(post);
</script>

<template>
  <article>
    <NCard>
      <template v-if="isLoggedIn && post.status && postBelongsToMe">
        <NSkeleton
          v-if="loading"
          text
        />
        <UserPostStatus
          v-else-if="post"
          :status="post.status"
        />
      </template>
      <h2 class="n-card-header__main">
        <NSkeleton
          v-if="loading"
          text
        />
        <router-link
          v-else
          :to="url"
          @click="openPost"
        >
          {{
            post.title
          }}
        </router-link>
      </h2>
      <NSkeleton
        v-if="loading"
        text
        :repeat="6"
      />
      <p v-else>
        {{ post.summary }}
      </p>
      <template #footer>
        <UserPostCardFooter
          v-if="loading"
          loading
        />
        <UserPostCardFooter
          v-else-if="post"
          :post="post"
        />
      </template>
    </NCard>
  </article>
</template>
